@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

h2 {
  font-size: 29px;
}

.py-4 {
  padding: 4rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.shadow:hover {
  box-shadow: 0 0 18px -4px rgba(109, 109, 109, 0.64);
}

.container {
  max-width: 130rem;
  padding: 0 2rem;
  margin: 0 auto 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button, input[type=submit] {
  min-height: 50px;
  padding: 0 4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.form-control {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #999;
  border-radius: 6px;
  box-sizing: border-box;
  background: transparent;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn {
  padding: 1rem 2.4rem;
  width: max-content;
  border: 2px solid #56b665;
  border-radius: 50px;
  background-color: #56b665;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn:hover {
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 2px solid #56b665;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(86, 182, 101);
}

textarea:focus, input:focus {
  color: #fff;
  outline: none;
}

input, select, textarea {
  color: #fff;
}

.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  transition: none !important;
}

img {
  width: 100%;
  max-height: 500px;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  padding: 3rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.title-all {
  text-align: center;
  padding-top: 30px;
}

.title-wrap {
  padding: 3rem 0 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.lg-title {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.line {
  height: 3px;
  width: 100px;
  background-color: #56b665;
}

.sm-title {
  display: block;
  margin: 40px 0 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.ft-title {
  color: #111;
  font-size: 18px;
  text-transform: uppercase;
}

.text {
  padding: 0 1rem;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 1px;
  text-align: left;
}

ul.breadcrumb {
  padding: 10px 16px;
  width: max-content;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #fff;
  font-weight: 400;
  content: "/ ";
}

ul.breadcrumb li a {
  font-weight: 300;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar .container {
  margin: 0;
}
.navbar .contact-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  height: max-content;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 2rem;
}
.navbar .contact-method--list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .contact-method--item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-left: 0.3rem;
}
.navbar .contact-method--item::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 2px;
  height: 80%;
  background-color: rgb(153, 153, 153);
}
.navbar .contact-method--item > * {
  color: #fff;
  font-size: 13px;
}
.navbar .contact-method--item > span {
  font-size: 1.3rem;
}
.navbar .contact-method--item:nth-child(1) {
  padding-left: 0;
}
.navbar .contact-method--item:nth-child(1)::after {
  display: none;
}
.navbar .contact-method .contact-icon > ul {
  display: flex;
  align-items: center;
}
.navbar .contact-method .contact-icon > ul > li {
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #fff;
}
.navbar .contact-method .contact-icon > ul > li > a {
  display: block;
  color: #fff;
}
.navbar-collapse {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}
.navbar-nav .navbar-item {
  font-weight: 600;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  opacity: 0.8;
  cursor: pointer;
}
.navbar-nav .navbar-item a {
  color: #fff;
}
.navbar-nav .navbar-item:nth-of-type(1) {
  padding-left: 0;
}
.navbar-nav .navbar-item:nth-of-type(3) {
  padding-right: 0;
}
.navbar-nav .navbar-item:hover {
  opacity: 1;
}
.navbar .navbar-left .navbar-nav {
  justify-content: flex-start;
}
.navbar .navbar-right {
  display: flex;
  gap: 3rem;
}
.navbar .navbar-right .navbar-nav {
  justify-content: flex-end;
}
.navbar .site-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.navbar .site-brand .site-brand--img {
  max-height: 100px;
  width: 200px;
}
.navbar-cng {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.navbar-cng .container {
  width: 100%;
  margin: 0;
}
.navbar-cng .contact-method {
  display: none;
}
.navbar-cng .navbar-nav {
  color: #000;
}
.navbar-cng .navbar-nav i {
  color: #999;
}
.navbar-cng .navbar-nav .search__box {
  background-color: #56b665;
}
.navbar-cng .navbar-nav .search__box::after {
  border-bottom-color: #56b665;
}
.navbar-cng .navbar__search--box .search__btn span {
  color: #000;
}

.navbar__search--box {
  padding: 2rem;
  position: relative;
}
.navbar__search--box .search__btn {
  padding: 1rem;
}
.navbar__search--box .search__btn span {
  color: #fff;
  font-size: 1.3rem;
}
.navbar__search--box .search__btn:hover .search__box {
  display: block;
}
.navbar__search--box .search__box {
  position: absolute;
  padding: 2rem 3rem;
  top: 90%;
  right: 1rem;
  width: 300px;
  height: 65px;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  z-index: 20;
  display: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}
.navbar__search--box .search__box::after {
  position: absolute;
  content: "";
  top: -13px;
  right: 13px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #fff;
}
.navbar__search--box .search__box input {
  margin: -5px 0 0;
  padding: 0.8rem 1rem;
  width: 100%;
  color: #777;
  border-radius: 6px;
  outline: none;
  border: 1px solid #56b665;
}
.navbar__search--box:hover .search__box {
  display: block;
}

.navbar.navbar-cng .site-brand .site-brand--img {
  width: 150px;
  filter: brightness(0);
  -webkit-filter: brightness(0);
}

.navbar.navbar-cng .navbar-item a {
  color: #999;
}

.menu-collapse {
  display: none;
}
.menu-collapse #navbar-show-btn {
  background-color: transparent;
  border: none;
  padding: 2rem;
  color: #fff;
}
.menu-collapse .box__menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.menu-collapse .box__menu #navbar-close-btn {
  position: absolute;
  top: 4rem;
  right: 1rem;
  padding: 2rem;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
.menu-collapse .box__menu .nav__menu {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}
.menu-collapse .box__menu .nav__menu .nav__menu--item {
  color: #999;
  font-size: 25px;
  width: 100%;
  text-align: center;
  padding-top: 2rem 1rem;
  font-weight: 600;
}
.menu-collapse .box__menu .nav__menu .nav__menu--item:hover {
  background-color: #eaeaea;
  color: #000;
  font-weight: 700;
}

#header {
  height: 100vh;
  padding: 11.5rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner.jpeg) center/cover no-repeat;
  color: #fff;
  flex-direction: column;
  text-align: center;
}
#header .text-box {
  flex-direction: column;
  width: 65%;
}
#header .text-box .lg-title {
  font-size: 50px;
  font-weight: 400;
}
#header .text-box .lg-title span {
  font-weight: 600;
}

#header2 {
  display: flex;
  flex-direction: column;
  padding-top: 105px;
  height: 60vh;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/banner.jpg) center/cover no-repeat;
}
#header2 .text-box {
  flex-direction: column;
}
#header2 .text-box .lg-title {
  font-size: 27.2px;
  width: max-content;
  font-weight: 600;
}

#header3 {
  display: flex;
  flex-direction: column;
  height: 105px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/banner.jpg) center/cover no-repeat;
}

#relative {
  background: #fff;
}
#relative .sm-title {
  color: #999;
}
#relative .relative-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 3rem;
}
#relative .relative-row .relative-middle {
  max-width: 450px;
  width: 416px;
  height: 416px;
  padding: 1rem;
  border: 1px solid #919191;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
  margin: 1rem auto;
}
#relative .relative-row .relative-middle img {
  border-radius: 100%;
  width: 100%;
}
#relative .relative-row .relative-left, #relative .relative-row .relative-right {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
#relative .relative-row .relative-left .featured-box, #relative .relative-row .relative-right .featured-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#relative .relative-row .relative-left .featured-box span, #relative .relative-row .relative-right .featured-box span {
  font-size: 5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  color: #56b665;
  margin-bottom: -1.5rem;
}
#relative .relative-row .relative-left {
  flex: 1;
  text-align: right;
  justify-content: right;
  margin-right: 1rem;
}
#relative .relative-row .relative-left .text {
  text-align: right;
  padding-right: 0;
}
#relative .relative-row .relative-right {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}
#relative .relative-row .relative-right .text {
  text-align: left;
  padding-left: 0;
}
#relative .show-all {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#criteria {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/criteria.jpeg) center/cover no-repeat;
}
#criteria .lg-title, #criteria .sm-title {
  color: #fff;
}
#criteria .line {
  background: #fff;
}
#criteria .criteria-main.flex {
  flex-direction: column;
}
#criteria .criteria-main .criteria-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
#criteria .criteria-main .criteria-row .criteria__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60px;
  padding: 2rem;
  opacity: 0.7;
}
#criteria .criteria-main .criteria-row .criteria__item > p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
#criteria .criteria-main .criteria-row .criteria__item > span {
  color: #fff;
  font-size: 4rem;
}
#criteria .criteria-main .criteria-row .criteria__item:hover {
  opacity: 1;
  cursor: pointer;
}
#criteria .criteria-main .criteria-row:hover .criteria__item > span {
  opacity: 0;
}
#criteria .criteria-main .criteria-row:hover .criteria__item:hover > span {
  opacity: 1;
}
#criteria .criteria-main .criteria-text {
  margin-top: 6rem;
}
#criteria .criteria-main .criteria-text .text {
  max-width: 1000px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

#slider .container {
  flex-direction: column;
}
#slider .sm-title {
  color: #999;
}
#slider .slider-row {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
#slider .slider-row input {
  display: none;
}
#slider .slider-row .slides {
  display: flex;
  width: 500%;
  height: 500px;
}
#slider .slider-row .slides .slide {
  width: 20%;
  transition: 2s;
}
#slider .slider-row .slides .slide img {
  width: 800px;
  height: 500px;
}
#slider .slider-row .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
#slider .slider-row .manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
#slider .slider-row .manual-btn:not(:last-child) {
  margin-right: 40px;
}
#slider .slider-row .manual-btn:hover {
  background-color: #40d3dc;
}
#slider .slider-row #radio1:checked ~ .first {
  margin-left: 0;
}
#slider .slider-row #radio2:checked ~ .first {
  margin-left: -20%;
}
#slider .slider-row #radio3:checked ~ .first {
  margin-left: -40%;
}
#slider .slider-row #radio4:checked ~ .first {
  margin-left: -60%;
}
#slider .slider-row .navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
#slider .slider-row .navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
#slider .slider-row .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#slider .slider-row #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}
#slider .slider-row #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}
#slider .slider-row #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}
#slider .slider-row #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}

#introduce .introduce-row {
  display: flex;
  gap: 2rem;
}
#introduce .introduce-row .in-left, #introduce .introduce-row .in-right {
  flex: 1;
}
#introduce .introduce-row .in-left {
  padding-left: 2rem;
  display: flex;
  gap: 3rem;
}
#introduce .introduce-row .in-left .box-img--main > img {
  width: 420px;
}
#introduce .introduce-row .in-left .box-img--decorate {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
#introduce .introduce-row .in-left .box-img--decorate > img {
  height: 195px;
}
#introduce .introduce-row .in-right .sm-title {
  color: #999;
}
#introduce .introduce-row .in-right--content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
}
#introduce .introduce-row .in-right--content .text {
  font-size: 12px;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

#facts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/facts.jpeg) center/cover no-repeat;
}
#facts .container {
  width: 100%;
}
#facts .facts__box {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}
#facts .facts__box .facts__content {
  position: relative;
  display: flex;
  height: 150px;
  width: 270px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
#facts .facts__box .facts__content .text {
  text-align: center;
}
#facts .facts__box .facts__content::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 70px;
  height: 40px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  z-index: 12;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
#facts .facts__box .facts__content::after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  width: 70px;
  height: 40px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 12;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
#facts .facts__box .facts__item:hover .facts__content::before,
#facts .facts__box .facts__item:hover .facts__content::after {
  height: 100%;
  width: 100%;
}
#facts .facts__box .facts__item:hover .facts__content {
  margin-top: -5px;
}
#facts .facts__box .facts__item:hover .facts__content .text {
  opacity: 1;
  font-weight: 600;
}

#services .sm-title {
  color: #999;
}
#services .flex {
  justify-content: space-between;
}

.services__row {
  widows: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 4rem;
}
.services__row .services__card {
  display: flex;
  position: relative;
  border-radius: 4rem;
  padding: 50px 46px;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.services__row .services__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-top-left-radius: 4rem;
  border-top: 2px solid #56b665;
  border-left: 2px solid #56b665;
  transition: all 0.3s ease-in-out;
}
.services__row .services__card::after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 4rem;
  border-right: 2px solid #56b665;
  border-bottom: 2px solid #56b665;
  transition: all 0.3s ease-in-out;
}
.services__row .services__card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2px 10px rgb(86, 182, 101);
}
.services__row .services__card:hover::before, .services__row .services__card:hover::after {
  width: 90%;
  height: 90%;
}
.services__row .services__card .title-card {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.services__row .services__card .price {
  font-size: 55px;
  color: #56b665;
}
.services__row .services__card .text {
  font-size: 13px;
  color: #777777;
  padding: 15px 15px 0;
  text-align: center;
}
.services__row .services__card .service__card--list {
  display: block;
  font-size: 16px;
  padding: 7.5px 0;
  margin: 20px 0 20px;
}
.services__row .services__card .service__card--list .service__card--item {
  line-height: 1.875;
  margin-bottom: 8.4px;
  font-size: 14px;
  text-align: center;
  color: #111111;
}
.services__row .services__card .s-btn {
  background-color: #f6f6f6;
  margin-top: auto;
  border: 1px solid #777777;
  font-weight: 500;
  color: #000;
  padding: 0 20px;
  width: 150px;
  border-radius: 30px;
  z-index: 222;
}
.services__row .services__card .s-btn:hover {
  background-color: #56b665;
  color: #fff;
}

.about__box1--row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  padding: 2rem 3rem;
}

.ab1__left {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;
}
.ab1__left .wrap__view-img {
  position: absolute;
  height: 50%;
  max-height: 600px;
}
.ab1__left .wrap__view-img img {
  height: 100%;
}
.ab1__left .list__view-img {
  display: flex;
  gap: 2rem;
}
.ab1__left .list__view-img .view-img--item {
  flex: 1;
  height: 130px;
}

.ab1__right {
  padding: 1rem;
}
.ab1__right .sm-title {
  font-size: 16px;
  margin: 40px 0 0;
  color: #777777;
}
.ab1__right .ab1__right--content .text--decs {
  color: #303030;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 0 30px;
  text-align: center;
  margin: 1rem;
}
.ab1__right .ab1__right--content .heading__list {
  font-size: 22px;
  margin-bottom: 11px;
}
.ab1__right .ab1__right--content .ab1__right--list {
  display: flex;
  flex-direction: column;
}
.ab1__right .ab1__right--content .ab1__right--list .ab1__right--item {
  display: flex;
  align-items: center;
  line-height: 1.6;
  margin-bottom: 8.5px;
}
.ab1__right .ab1__right--content .ab1__right--list .ab1__right--item span {
  display: inline-block;
}
.ab1__right .ab1__right--content .ab1__right--list .ab1__right--item span i {
  display: inline-block;
  color: #56b665;
  font-weight: 500;
  font-size: 14px;
}

#about__box-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../images/banner.jpeg) center/cover no-repeat;
}

.about__box-2--row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 4rem;
  grid-gap: 4rem;
}
.about__box-2--row .ab2__card {
  background-color: #fff;
  border-radius: 40px;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__box-2--row .ab2__card .ab2__card--icons {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  background-color: #f6f6f6;
}
.about__box-2--row .ab2__card .ab2__card--icons .icon--main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__box-2--row .ab2__card .ab2__card--icons .icon--main i {
  color: #56b665;
  font-size: 40px;
}
.about__box-2--row .ab2__card .ab2__card--icons .icon-support {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px;
  width: max-content;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__box-2--row .ab2__card .ab2__card--icons .icon-support i {
  font-size: 20px;
  color: #56b665;
}
.about__box-2--row .ab2__card .ab2__card--content {
  text-align: center;
}
.about__box-2--row .ab2__card .ab2__card--content .title--card {
  padding-top: 30px;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.about__box-2--row .ab2__card .ab2__card--content .text {
  padding: 0 20px;
  margin-bottom: 2rem;
  text-align: center;
}

.ab3__row {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 2rem;
  padding: 2rem;
}
.ab3__row .ab3__box--head {
  padding: 0 1.5rem 3rem;
}
.ab3__row .ab3__box--head .ab3__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  color: #111;
}
.ab3__row .ab3__box--head .ab3__text {
  font-size: 18px;
  color: #303030;
}
.ab3__row .ab3__box--main .ab3__list--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.ab3__row .ab3__box--main .ab3__list--items .ab3__item {
  padding: 0 3rem;
  margin-bottom: 3rem;
  padding: 0 30px 0 20px;
}
.ab3__row .ab3__box--main .ab3__list--items .ab3__item .ab3__item--icon {
  width: max-content;
  margin-bottom: 1rem;
}
.ab3__row .ab3__box--main .ab3__list--items .ab3__item .ab3__item--icon .img--icon {
  color: #f6f6f6;
  width: 60px;
  height: 63px;
  object-fit: contain;
}
.ab3__row .ab3__box--main .ab3__list--items .ab3__item .lg-title {
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.ab3__row .ab3__box--main .ab3__list--items .ab3__item .text {
  padding: 0;
}
.ab3__row .ab3__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
}
.ab3__row .ab3__right .ab3__right--item {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.ab3__row .ab3__right .ab3__right--item:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/ab3-img1.jpeg") center/cover no-repeat;
}
.ab3__row .ab3__right .ab3__right--item:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/ab3-img2.jpeg") center/cover no-repeat;
}
.ab3__row .ab3__right .ab3__right--item .ab3__itemR--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.ab3__row .ab3__right .ab3__right--item .ab3__itemR--icon i {
  font-size: 30px;
  color: #fff;
}
.ab3__row .ab3__right .ab3__right--item .lg-title {
  font-size: 18px;
  color: #fff;
}
.ab3__row .ab3__right .ab3__right--item .ab3__itemR--link {
  margin: 10px 0;
}
.ab3__row .ab3__right .ab3__right--item .text {
  margin-top: 18px;
  font-size: 18px;
  margin-bottom: 30px;
}
.ab3__row .ab3__right .ab3__right--item .ab3__btn {
  border: 1px solid #fff;
  background-color: transparent;
}
.ab3__row .ab3__right .ab3__right--item .ab3__btn:hover {
  background-color: #56b665;
  color: #fff;
}

#about__box-4 {
  background-color: #e5e5e5;
}

.ab4__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.ab4__row .ab4__title {
  font-size: 24px;
  color: #111111;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12px;
}
.ab4__row .ab4__list--logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 15px 30px;
}
.ab4__row .ab4__list--logos .ab4__logo {
  width: 186px;
  height: 186px;
  background-color: #fff;
}
.ab4__row .ab4__list--logos .ab4__logo img {
  height: 186px;
  object-fit: contain;
}
.ab4__row .ab4__opinions {
  padding: 0 15px 30px;
  width: 100%;
  overflow: hidden;
}
.ab4__row .ab4__opinions .ab4__opinions--list {
  display: flex;
  width: 240rem;
  overflow: hidden;
  gap: 2rem;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card {
  width: 600px;
  display: block;
  padding: 0 15px 30px;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card .ab4__box--text {
  background-color: #fff;
  padding: 3rem;
  position: relative;
  margin-bottom: 3rem;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card .ab4__box--text::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50px;
  border-top: 25px solid #fff;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card .ab4__box--text .text {
  font-size: 16px;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card .ab4__box--user {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 14px;
  letter-spacing: 1px;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card .ab4__box--user .ab4__user--name {
  text-transform: capitalize;
  font-size: 14px;
  padding-right: 1rem;
}
.ab4__row .ab4__opinions .ab4__opinions--list .ab4__opinion--card .ab4__box--user span {
  padding-left: 1rem;
  font-weight: 700;
}

.services__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 3rem;
  padding: 15px 2rem 3rem;
}
.services__row .service__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.services__row .service__item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.services__row .service__item:hover img {
  opacity: 0.7;
}
.services__row .service__item--img {
  height: 252px;
}
.services__row .service__item--content {
  padding: 10px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__row .service__item--content .service__item--title {
  padding-top: 20px;
  margin: 1.8px 0;
}
.services__row .service__item--content .service__item--title a {
  padding: 1rem;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.services__row .service__item--content .line {
  margin: 2rem 0 0;
  width: 60px;
  height: 2px;
}
.services__row .service__item--content .text {
  padding: 3rem;
  text-align: center;
}

.projects__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 3rem;
  padding: 15px 2rem 3rem;
}
.projects__row .project__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  height: 300px;
  position: relative;
}
.projects__row .project__item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.projects__row .project__item::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  transition: all 0.3s ease-in-out;
}
.projects__row .project__item:hover::before {
  display: block;
}
.projects__row .project__item:hover .project__item--content {
  opacity: 1;
  transform: translateY(0);
}
.projects__row .project__item--img {
  height: 100%;
}
.projects__row .project__item--content {
  position: absolute;
  display: flex;
  padding: 10px 10px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(40px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.projects__row .project__item--content .project__item--title {
  padding-top: 20px;
  margin: 1.8px 0;
}
.projects__row .project__item--content .project__item--title a {
  padding: 1rem;
  font-size: 16px;
  color: #fff;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.projects__row .project__item--content .project--btn {
  background-color: transparent;
  border: 1px solid #fff;
  margin: 17px 0;
}
.projects__row .project__item--content .project--btn:hover {
  background-color: #56b665;
  color: #fff;
}
.projects__row .project__item--content .project--btn:hover .projects__row .project__item::before {
  opacity: 0.7;
}

.news__row {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 2rem;
}
.news__row .news__wrap--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 5rem 2rem;
}

.new__card {
  position: relative;
  max-height: 300px;
  padding-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.new__card:hover {
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
.new__card .new__img {
  height: 153px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.new__card .box__time {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 50%;
  background-color: #56b665;
  color: #fff;
  line-height: 1;
}
.new__card .box__time strong {
  font-size: 14px;
}
.new__card .new__box--text {
  overflow: hidden;
  padding: 10px 17px 20px;
  text-align: left;
}
.new__card .new__box--text .new__title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  text-align: left;
  height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.new__card .new__box--text .new__line {
  width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1019607843);
  margin: 7px 0;
}
.new__card .new__box--text .text {
  padding: 0;
  font-size: 13px;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.news__menu {
  padding: 0 30px 30px;
  border-left: 1px solid #999;
}
.news__menu .wrap__menu {
  border: 1px solid #f6f6f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.box-title {
  padding: 20px;
  background-color: #56b665;
  display: flex;
  align-items: center;
}
.box-title .lg-title {
  font-size: 16px;
  color: #fff;
  text-align: left;
  margin: 0;
}

.news__menu--list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.news__menu--list .new__menu--item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.news__menu--list .new__menu--item:nth-child(even) {
  background-color: #f6f6f6;
}
.news__menu--list .new__menu--item:hover {
  color: #56b665;
  cursor: pointer;
}
.news__menu--list .new__menu--item .item__img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-right: 15px;
}
.news__menu--list .new__menu--item .item__img img {
  width: 100%;
}
.news__menu--list .new__menu--item .item__title {
  flex: 1;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  font-size: 22px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #56b665;
}

.formBox {
  position: relative;
  width: 100%;
}
.formBox .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .inputBox span {
  font-size: 14px;
  color: #56b665;
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 700;
}
.formBox .inputBox input {
  padding: 10px;
  color: #777777;
  font-size: 14px;
  outline: none;
  border: 1px solid #56b665;
  border-radius: 6px;
}
.formBox .inputBox textarea {
  padding: 10px;
  color: #777777;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  border: 1px solid #56b665;
  min-height: 200px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.formBox .inputBox ::placeholder {
  color: #777777;
  font-style: italic;
  font-size: 12px;
  line-height: 1.4;
  padding: 2px 5px;
}
.formBox .row50 {
  display: flex;
  gap: 20px;
}
.formBox .row100 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBox .row100 .inputBox {
  width: 100%;
}
.formBox .btn {
  width: 100px;
  text-align: center;
  padding: 6px 20px;
}

.info {
  background-color: #56b665;
}
.info h3 {
  color: #fff;
  letter-spacing: 0.3;
  line-height: 1.2;
  font-size: 15px;
  margin-bottom: 2rem;
}
.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  min-width: 36px;
  height: 36px;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 50%;
  margin-right: 1rem;
}
.info .infoBox div p {
  font-size: 12.5px;
  font-weight: 500;
}
.info .social--list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .social--list li a {
  font-size: 1.2rem;
  padding: 1rem;
}

.map {
  padding: 0;
  border: 1px solid #777777;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}
.map iframe {
  width: 100%;
  height: 100%;
}

footer {
  background: #343c3e;
}
footer .container {
  margin-bottom: 0;
}

.contact__box--1 {
  background: #272d2e;
  padding: 4rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.contact__box--1 .contact__item {
  display: flex;
  gap: 2rem;
}
.contact__box--1 .contact__item span {
  width: 45px;
  height: 45px;
  font-size: 40px;
  display: block;
  color: #56b665;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__box--1 .contact__item--content {
  display: flex;
  flex-direction: column;
}
.contact__box--1 .contact__item--content .lg-title {
  font-size: 20px;
  color: #80888A;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact__box--1 .contact__item--content .text {
  padding: 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}
.contact__box--1 .contact__item:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
}
.contact__box--1 .contact__item:nth-child(3) .text {
  font-size: 13px;
}

.contact__box--main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 6rem 2rem 0;
  color: #b6bdbf;
}
.contact__box--main .title-footer {
  color: #fff;
  font-size: 20px;
  padding: 0 15px 30px;
  margin-bottom: 10px;
}
.contact__box--main .content-box {
  padding: 0 15px 30px;
}
.contact__box--main .content-box .text {
  padding: 0;
  color: #b6bdbf;
  font-size: 14px;
  margin-bottom: 12px;
}
.contact__box--main .content-box .btn-footer {
  display: block;
  padding: 1.3rem 3.5rem;
  color: #fff;
  font-size: 14px;
  background: #40484a;
  border-radius: 20px;
  line-height: 1.6;
  margin-top: auto;
  max-width: max-content;
}
.contact__box--main .footer__list {
  padding: 0 15px 30px;
}
.contact__box--main .footer__list .footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 2.1428571429;
  gap: 1rem 0;
}
.contact__box--main .footer__list .footer__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.contact__box--main .footer__list .footer__item span {
  font-size: 10px;
  align-items: center;
  color: #fff;
}
.contact__box--main .footer__list .footer__item .text {
  line-height: 1.5;
}
.contact__box--main .contact__box--item:nth-child(3) {
  padding: 0 2rem;
  margin-top: -10px;
}
.contact__box--main .contact__box--item:nth-child(3) .footer__item {
  border-bottom: 1px solid #777777;
  padding: 0px 5px 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact__box--main .contact__box--item:nth-child(3) .footer__item span {
  font-size: 16px;
}
.contact__box--main .contact__box--item:nth-child(3) .footer__item .text {
  padding: 0;
  font-size: 12px;
}
.contact__box--main .box__img--list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact__box--main .box__img--list .img--item {
  height: 80px;
}

/* Mobile: width < 740px < 46.1875em*/
@media only screen and (max-width: 739px) {
  .contact__box--1 {
    grid-template-columns: 1fr;
  }
  .contact__box--1 .contact__item {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .contact__box--1 .contact__item span {
    margin: 0 auto;
    font-size: 18px;
  }
  .contact__box--1 .contact__item--content > * {
    padding: 0;
    text-align: center;
  }
  .contact__box--1 .contact__item .lg-title {
    font-size: 16px;
  }
  .contact__box--1 .contact__item .sm-title {
    font-size: 13px;
  }
  .contact__box--main {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding-bottom: 4rem;
  }
  .contact__box--main .title-footer {
    padding: 0 10px 5px;
  }
  .contact__box--main > * {
    text-align: center;
  }
}
/* Tablet: width >= 740px  46.25em and width < 1024px 63.9375em*/
/* Mobile: width < 740px < 46.1875em*/
@media only screen and (max-width: 739px) {
  .navbar .contact-method {
    display: none;
  }
  .navbar .contact-icon {
    display: none;
  }
  .navbar-collapse {
    height: max-content;
  }
  .navbar-cng #navbar-show-btn {
    color: #999;
  }
  .navbar.navbar-cng .site-brand .site-brand--img,
  .navbar .site-brand .site-brand--img {
    width: 150px;
    padding-left: 3rem;
  }
  .navbar-item {
    opacity: 1;
    display: none;
  }
  .navbar__search {
    opacity: 1;
    display: block;
  }
  #header {
    padding: 5rem 0;
  }
  #header .container {
    padding: 0;
  }
  #header .text-box {
    padding: 3rem 0;
  }
  #header .text-box .sm-title {
    font-size: 14px;
    font-weight: 700;
  }
  #header .text-box .lg-title {
    font-size: 30px;
    line-height: 40px;
  }
  #header .text-box .btn {
    font-size: 14px;
  }
  .menu-collapse {
    display: block;
  }
  #relative .lg-title,
  #criteria .lg-title,
  #introduce .lg-title,
  #facts .lg-title,
  #services .lg-title {
    font-size: 21px;
  }
  #relative .sm-title,
  #criteria .sm-title,
  #introduce .sm-title,
  #facts .sm-title,
  #services .sm-title {
    font-size: 14px;
    margin-top: 3rem;
  }
  #relative .text,
  #criteria .text,
  #introduce .text,
  #facts .text,
  #services .text {
    text-align: center;
  }
  #relative .lg-title {
    font-size: 21px;
  }
  #relative .sm-title {
    font-size: 14px;
    margin-top: 3rem;
  }
  #relative .relative-row {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  #relative .relative-row .relative-middle {
    width: 300px;
    height: 300px;
  }
  #relative .relative-row .relative-left, #relative .relative-row .relative-right {
    text-align: center;
    gap: 2rem;
  }
  #relative .relative-row .relative-left .ft-title, #relative .relative-row .relative-right .ft-title {
    font-size: 16px;
  }
  #relative .relative-row .relative-left .text, #relative .relative-row .relative-right .text {
    text-align: center;
  }
  #criteria .text {
    font-size: 13px;
  }
  #introduce .introduce-row {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  #introduce .introduce-row .in-left {
    padding-left: 0;
    flex-direction: column;
  }
  #introduce .introduce-row .in-left .box-img--main > img {
    width: 100%;
  }
  #introduce .introduce-row .in-left .box-img--decorate {
    display: none;
  }
  #facts .facts__box .facts__content {
    width: 200px;
    height: 120px;
  }
  #services .services__row {
    grid-template-columns: 1fr;
  }
}
/* Tablet: width >= 740px  46.25em and width < 1024px 63.9375em*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .navbar .contact-method {
    height: max-content;
    flex-wrap: wrap;
  }
  .navbar .contact-icon {
    display: none;
  }
  .navbar-cng #navbar-show-btn {
    color: #999;
    display: block;
  }
  .navbar .navbar__search {
    display: block;
  }
  .navbar .navbar__search .search__btn {
    font-size: 30px;
  }
  .navbar .navbar-nav {
    display: none;
  }
  .menu-collapse {
    display: block;
  }
  #relative .relative-row {
    gap: 2rem;
    grid-template-columns: 2fr 1fr 2fr;
  }
  #relative .relative-row .relative-middle {
    width: 180px;
    height: 180px;
  }
  #relative .relative-row .relative-left, #relative .relative-row .relative-right {
    gap: 2rem;
  }
  #relative .relative-row .relative-left .ft-title, #relative .relative-row .relative-right .ft-title {
    font-size: 16px;
  }
  #introduce .introduce-row {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  #introduce .introduce-row .in-left {
    padding-left: 0;
    flex-direction: column;
  }
  #introduce .introduce-row .in-left .box-img--main > img {
    width: 100%;
  }
  #introduce .introduce-row .in-left .box-img--decorate {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
