.about__box1--row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 2rem 3rem;
}
.ab1__left {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    // height: max-content;
    
    .swiper {
        width: 100%;
        height: 300px;
        max-width: 500px;
    }
  
    .creen--view  {
        height: 80%;
        width: 100%;
      }
  
    .list__viewImg--choice {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
      .list__viewImg--choice .swiper-slide {
        width: 30%;
        height: 100%;
        opacity: 0.4;
        // padding: 2px;
        // border: 2px solid #fff;
      }
  
      .list__viewImg--choice .swiper-slide-thumb-active {
        opacity: 1;
        border: 2px solid $primary-color;
        box-shadow: 2px 4px 5px rgba(0,0,0, 0.2);
        transform: scale(1.1);
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .ab1__box--btn{
        padding: 1rem 2rem;
        color: #fff;
        background-color: rgba(0,0,0, .4);
      }
      .ab1__box--btn:after, .ab1__box--btn:before{
        font-size: 30px;
      }
  


}
.ab1__right {
    padding: 1rem;
    .sm-title {
        font-size: 16px;
        margin: 40px 0 0;
        color: #777777; 
    }
    .ab1__right--content{
        .text--decs {
            color: #303030;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            padding: 0 30px;
            text-align: center;
            margin: 1rem;
        }
        .heading__list {
            font-size: 22px;
            margin-bottom:  11px;
        }
        .ab1__right--list{
            display: flex;
            flex-direction: column;
            .ab1__right--item{
                display: flex;
                align-items: center;
                line-height: 1.6;
                margin-bottom: 8.5px;
                span {
                    display: inline-block;
                    // margin-right: 1rem;
                    i {
                        display: inline-block;
                        color: $primary-color;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}
//  ab2 ******************************
#about__box-2 {
    // height: 80vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    background: linear-gradient( rgba(0,0,0, 0.2) , rgba(0,0,0,0.3)), url(../images/banner.jpeg) center/cover no-repeat;
}
.about__box-2--row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 4rem;
    grid-gap: 4rem;
    .ab2__card {
        background-color: #fff;
        border-radius: $border-radius1;
        padding: 5rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .ab2__card--icons{
            display: block;
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: $border-radius1;
            background-color: #f6f6f6;
            
            .icon--main {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                i{
                    color: $primary-color;
                    font-size: 40px;
                }
            }
            .icon-support{
                position: absolute;
                top: 3px;right: 3px;
                padding: 2px;
                width: max-content;
                border-radius: 50%;
                background-color: #fff;
               
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 20px;
                    color: $primary-color;
                    
                }
            }
           
            
        }
        .ab2__card--content {
            text-align: center;
            .title--card{
                padding-top: 30px;
                margin-bottom: 9px;
                font-size: 18px;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;

            }
            .text {
                padding: 0 20px ;
                margin-bottom: 2rem;
                text-align: center;
            }
        }
    }
}

//  ab3********************
.ab3__row {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
    padding: 2rem;
    .ab3__box--head {
        padding: 0 1.5rem 3rem;
        .ab3__title {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            margin-bottom: 12px;
            font-weight: 600;
            color: #111;
        }
        .ab3__text {
            font-size: 18px;
            color: #303030;
        }
    }
    .ab3__box--main {
        .ab3__list--items {
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 1rem;
            .ab3__item {
                padding: 0 3rem;
                margin-bottom: 3rem;
                .ab3__item--icon {
                    width: max-content;
                    // filter: ;
                    margin-bottom: 1rem;
                    .img--icon {
                        color: #f6f6f6;
                        width: 60px;
                        height: 63px;
                        object-fit: contain;
                    }
                }
                .lg-title {
                    font-size: 18px;
                    // padding-bottom: 1rem;
                    margin-bottom: .5rem;
                }
                padding: 0 30px 0 20px;
                .text {
                    padding: 0;
                }
            }
        }
    }

    .ab3__right{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: center;
        gap: 3rem;
        padding: 0 2rem;
        .ab3__right--item{
            // height: 337px;
            width: 90%;
            // position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;
            &:nth-child(1) {
                background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/ab3-img1.jpeg') center/cover no-repeat;
            }
            &:nth-child(2) {
                background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/ab3-img2.jpeg') center/cover no-repeat;
            }
            .ab3__itemR--icon {
                display: flex;
               
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                
                border: 1px solid #fff;
                border-radius:  50%;
                i {
                    font-size: 30px;
                    color: #fff;
                }
            }
            .lg-title {
                font-size: 18px;
                color: #fff;

            }
            .ab3__itemR--link{
                margin: 10px 0;
            }
            .text {
                margin-top: 18px;
                font-size: 18px;
                margin-bottom: 30px;
            }
            .ab3__btn {
                border: 1px solid #fff  ;
                background-color: transparent;
                &:hover{
                    // border-color: ;
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }

}


// ab4****************************
#about__box-4{
    background-color: #e5e5e5;
}
.ab4__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .ab4__title {
        font-size: 24px;
        color: #111111;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 2rem;
    }
    .ab4__list--logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem ;
        padding: 0 15px 30px;
        max-width: max-content;
        
        .ab4__logo{
            width: 186px;
            height: 186px;
           
            background-color: #fff;
            img{
                height: 186px;
                object-fit: contain;
            }
        }
    }
    .ab4__opinions{
        padding: 0 15px 30px;
        width: 100%;
        overflow: hidden;
    
        .ab4__wrapper {
            position: relative;
            width: 100%;
            max-width: 400px;
            padding: 0 4rem;
        }
        .ab4__opinions--list {
            padding: 0rem 5rem;
            .ab4__opinion--card{
                // width: 100%;
                cursor:grab;
                display: block;
                padding: 0px 15px 30px;
                .ab4__box--text{
                    background-color: #fff;
                    padding: 3rem;
                    max-width: 400px;
                    max-width: 83%;
                    position: relative;
                    margin-bottom: 3rem;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -22px;
                        left: 50px;
                        // background-color: red;
                        border-top: 25px solid #fff;
                        border-right: 25px solid transparent;
                        border-left: 25px solid transparent;
                    }
                    .text{
                        font-size: 16px;
                    }
                }
                .ab4__box--user{
                    display: flex;
                    align-items: center;
                    padding: 1rem 3rem;
                    // font-weight: 600;
                    
                    font-size: 14px;
                    letter-spacing: 1px;
                    .ab4__user--name{
                        text-transform: capitalize;
                        font-size: 14px;
                        padding-right: 1rem;
                    }
                    span{
                        padding-left: 1rem;
                        font-weight: 700;
                    }
                }

            }
        }
        .ab4__btn{
            transform: translateY(-3rem);
            color: $primary-color;
            padding: 2rem;
        }
        .ab4__btn::after, .ab4__btn::before {
        }
        
        .swiper-pagination{
            color: $primary-color;
        }
        .swiper-pagination-clickable .swiper-pagination-bullet{
            background-color: $primary-color;
        }
    }
}
