

.navbar {
    // display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    // border-bottom: 1px solid #999;
    box-shadow: 0 4px 10px rgba( 255, 255 ,255 , .2);
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1rem;
        margin: 0;

    }
    .contact-method{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 35px;
        background: rgba(255,255,255, .1);
        padding: 0 2rem;
        &--list {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--item{
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            margin-left: .3rem;
            &::after {
                position: absolute;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                left:  0;
                width: 2px;
                height: 80%;
                background-color:rgb(153, 153, 153);
            }
            & > * {
                color: #fff;
                font-size: 13px;
            }
            & > span {
                font-size: 1.3rem;
            }
            &:nth-child(1) {
                padding-left: 0;
                &::after {
                    display: none;
                }
            }
        }
        .contact-icon {
            & > ul {
                display: flex;
                align-items: center;
                & > li {
                    font-size: 1.3rem;
                    padding: .5rem;
                    color: #fff;
                    & > a {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    &-collapse{
        height: 80px;
        
    }

    &-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        // column-gap: 2rem;
        gap: 1rem 2rem;
        flex-wrap: wrap;
        .navbar-item{
            font-weight: 600;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            padding:  10px;
            opacity: .8; 
            cursor: pointer;
            a{
                color: #fff;
            }
            &:nth-of-type(1) {
                padding-left: 0;
            }
            &:nth-of-type(3) {
                padding-right: 0;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .navbar-left {
        .navbar-nav {
            justify-content: flex-start;
        }
    }
    .navbar-right {
        .navbar-nav {
            justify-content: flex-end;
        }
    }
    .site-brand{
        display: flex;
        justify-content: center;
        align-items: center;
        .site-brand--img{
            max-height: 100px;
            width: 200px;
           
        }
    }
    &-cng {
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #fff;
        // box-shadow: 0 4px 5px 0 rgba(48, 48, 48, 0.2);
        transition: $trans;
    box-shadow: 0 4px 10px rgba( 0, 0 ,0 , 0.2);

        .contact-method{
            display: none;
        }
        .navbar-nav {
            color: #000;
       }
    }
}
.navbar.navbar-cng .site-brand  .site-brand--img{
    filter: brightness(0);
    -webkit-filter: brightness(0);
}
.navbar.navbar-cng .navbar-item a{
    color: #999;
}
#header {
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0, 0.4)), url(../images/banner.jpeg) center/cover no-repeat;
    color: #fff;
    flex-direction: column;
    text-align: center;
    .text-box {
        flex-direction: column;
        width: 65%;
        .lg-title {
            font-size: 50px;
            font-weight: 400;

            & span {
                font-weight: 600;
            }
        }
    }

}
#header2 {
    display: flex;
    flex-direction: column;
    padding-top: 105px;
    height: 60vh;
    color: #fff;
    background: linear-gradient( rgba(0,0,0, .2), rgba(0,0,0, 0.2)), url(../images/banner.jpg) center/cover no-repeat;
    .text-box {
        flex-direction: column;
        .lg-title {
            font-size: 27.2px;
            width: max-content;
            font-weight: 600;
        }   
    }

}