
/* Mobile: width < 740px < 46.1875em*/
@media only screen and (max-width: 739px) {
    // header + navbar
    .navbar {
        .contact-method {
            display: none;
        }
        .contact-icon {
            display: none;
        }
        &-collapse {
            height: max-content
        }
        &-cng {
            #navbar-show-btn{
                color: #999;
            }
        }
    }
    .navbar.navbar-cng .site-brand  .site-brand--img,
    .navbar .site-brand  .site-brand--img{
        width: 150px;
        // filter: brightness(0);
        //  -webkit-filter: brightness(0);
        padding-left: 3rem;
    }
    .navbar-item {
        opacity: 1;
        display: none;
    }
    .navbar__search {
        opacity: 1;
        display: block;
    }
    #header {
        padding: 5rem 0;
        .container {
            padding: 0;
        }
        .text-box {
            padding: 3rem 0;
            .sm-title {
                font-size: 14px;
                font-weight: 700;
            }
            .lg-title {
                font-size: 30px;
                line-height: 40px;
            }
            .btn {
                font-size: 14px;
            }
        }
    }
    .menu-collapse {
        display: block;
    }
    #relative ,
    #criteria,
    #introduce,
    #facts,
    #services
    {
        .lg-title {
            font-size: 21px;
        }
        .sm-title {
            font-size: 14px;
            margin-top: 3rem;
        }
        .text {
            text-align: center;
        }
    }
    #relative {
        .lg-title {
            font-size: 21px;
        }
        .sm-title {
            font-size: 14px;
            margin-top: 3rem;
        }
        .relative-row{
            grid-template-columns: 1fr;
            gap: 2rem;
            .relative-middle {
                width: 300px;
                height: 300px;
            }
            .relative-left, .relative-right{
                text-align: center;
                gap: 2rem;
                .ft-title {
                    font-size: 16px;
                }
                .text {
                    text-align: center;
                }
            }
        }
    }
    #criteria {
        .text {
            font-size: 13px;
        }
    }
    #introduce {
        .introduce-row {
            flex-direction: column;
            flex-wrap: wrap-reverse;
            .in-left {
                
                padding-left: 0;
                flex-direction: column;
                .box-img--main {
                    &> img {
                        width: 100%;
                    }
                }
                .box-img--decorate{
                    display: none;
                }
            }
        }
    }
    #facts {
        .facts__box {
            .facts__content {
                width: 200px;
                height: 120px;
            }
        }
    }
    #services{
        .services__row {
            grid-template-columns: 1fr;
        }
    }
}

/* Tablet: width >= 740px  46.25em and width < 1024px 63.9375em*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .navbar {
        .contact-method {
            height: max-content;
            flex-wrap: wrap;
        }
        .contact-icon {
            display: none;
        }
        &-cng {
            #navbar-show-btn{
                color: #999;
                display: block;
            }
        }
        .navbar__search {
            display: block;
            .search__btn {
                font-size: 30px;
            }
        }
        .navbar-nav{
            display: none;
        }
    
    }
    .menu-collapse {
        display: block;
    }
    #relative {
        
        .relative-row{
            gap: 2rem;
            // grid-template-columns:  repeat(3, 1fr) ;
            grid-template-columns:  2fr 1fr 2fr ;
            .relative-middle{
                
                    width: 180px;
                    height: 180px;
                
            }
            .relative-left, .relative-right{
                // text-align: center;
                gap: 2rem;
                .ft-title {
                    font-size: 16px;
                }
                .text {
                    // text-align: center;
                }
            }
        }
    }
    #introduce {
        .introduce-row {
            flex-direction: column;
            flex-wrap: wrap-reverse;
            .in-left {
                
                padding-left: 0;
                flex-direction: column;
                .box-img--main {
                    &> img {
                        width: 100%;
                    }
                }
                .box-img--decorate{
                    display: none;
                }
            }
        }
    }
}
